<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Strindbergsvandringar med Anita Persson</title>
  <meta name="description" content="Vandringar, utflykter eller föreläsningar – specialkomponerade eller enligt färdigt program. Det finns en Strindbergsstund för alla och för alla tillfällen.">
  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">

  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

  <div class="header-container">
    <header class="wrapper">
      <h1>Strindbergsvandringar <span>med Anita Persson</span></h1>

      <p>Vandringar eller föreläsningar – specialkomponerade eller enligt <a href="#info">programmet</a> nedan kan beställas av alla, exempelvis av konstföreningar, som födelsedagspresent, till firmafesten, till släktträffen, till lärarmötet, till bostadsrättsföreningen, till gymnasieklassen.<br>
      <em>Ja, det finns en Strindbergsstund för alla och för alla tillfällen.</em></p>

      <p>För ytterligare information ring <a href="tel:+46702746711">070‑2746711</a> eller eposta: <a href="mailto:anita_s_persson@hotmail.com">anita_s_persson@hotmail.com</a></p>

      <nav id="navigation">
        <ul>
          <li><a href="#program">Program</a></li>
          <li><a href="#vandringar">Vandringar</a></li>
          <li><a href="#anita">Anita Persson</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="main-container">
    <div class="main wrapper">

      <section id="walks-intro">
        <h1>33 år på vandring</h1>
        <p>Att exempelvis tillsammans vandra genom den kända eller okända staden där författaren vandrat, där dikterna tillkommit, där dramat utspelar sig, ger nya perspektiv och berikar läsupplevelser och "vardagsvandringar".</p>

        <p>Jag vet, då jag har vandrat med August Strindberg sedan 1981 varje vår, sommar, höst och till och med på vintern i snöyra.</p>

        <em>År 2013 går vi följande programmerade vandringar oberoende av väder och vind:</em>
      </section>

      <section id="walks">
        <h1>Stadsvandringar</h1>

        <article id="arbetarrorelsen" class="event-description event-type-walk">
          <h1>”Slopa Öfverklassen! Så få i se sen!”</h1>
          Strindberg levde under en tid då motsättningarna blev synliga i det svenska industrisamhället. Arbetarrörelsen organiserade sig och författarens vän Hjalmar Branting blev samtalspartner. Författarens kontakter med <strong class="event-name">arbetarrörelsen</strong>s förgrundsfigurer och dess aktuella frågor möter i denna vandring.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-05-06">6 maj</time></li>
            </ul>

            <p><time datetime="18:00">18.00 (–19.30)</time></p>
            <p>Samling framför Adolf Fredriks kyrka</p>
          </footer>
        </article>

        <article id="sodermalm" class="event-description event-type-walk">
          <h1>”Det var en afton i början av maj…”</h1>
          - inledningen av succéromanen ”Röda Rummet” - ett målande panorama över en älskad stad - är det mest kända av författarens <strong class="event-name">Södermalm</strong>. Men här finns också Vita Bergen, Hornstull och Hornsgatan, som bjöd gästfrihet hos vänner och familj. Och här finns både Swedenborg och Bellman.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-05-13">13 maj</time></li>
              <li><time datetime="2013-08-19">19 augusti</time></li>
            </ul>

            <p><time datetime="18:00">18.00 (–19.30)</time></p>
            <p>Samling Mariatorget vid Swedenborgs staty.</p>
          </footer>
        </article>

        <article id="stora-landsvagen" class="event-description event-type-walk">
          <h1>”Jag är icke; blott vad jag gjort, det är!”</h1>
          En vandring som följer Strindbergs sista färd 19 maj 1912 från hans bostad Drottninggatan 85 till graven på Norra kyrkogården ”icke i de rikas kvarter på fåfängans marknad” och passerar första hustruns grav. En vandring också i försoningsdramat ”<strong class="event-name">Stora Landsvägen</strong>”s texter.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-05-19">19 maj</time> – Strindbergs begravningsdag – kl <time datetime="14:00">14.00 (–16.00)</time></li>
              <li><time datetime="2013-08-06">6 augusti</time> – Hiroshimadagen kl <time datetime="18:00">18.00 (–20.00)</time></li>
            </ul>

            <p>Samling i Tegnérlunden vid Strindbergsmonumentet.</p>
          </footer>
        </article>

        <article id="djurgarden" class="event-description event-type-walk">
          <h1>”…härd för myggor och spindlar”</h1>
          <strong class="event-name">Djurgården</strong> är fylld av platser från Strindbergs liv och verk. Tidvis förlades boende, morgonpromenader och arbetsgömmen hit. Skådeplats för författarens kulturhistoriska gärningar och ”introduktion” i krogarnas nöjesliv.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-06-02">2 juni</time></li>
              <li><time datetime="2013-08-25">25 augusti</time></li>
            </ul>

            <p><time datetime="14:00">14.00 (–15.30)</time></p>
            <p>Samling Djurgårdsbron/Strandvägen.</p>
          </footer>
        </article>


        <article id="morgonpromenad" class="event-description event-type-walk">
          <h1>”Morgonen har något med sig som ger ungdom i sinnet”</h1>
          Vi vandrar Strindbergs <strong class="event-name">morgonpromenad</strong> – möter människor på Drottninggatans ”trottoar”, viker av ”i Fredsgatans halvdunkel” och passerar begravningsprästen och vidare genom den händelserika Kungsträdgården och ”löpgraven”, Arsenalsgatan, fram till ”en nationell bildningsanstalt” och ”Stockholms ungkarlsklubb”.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-06-12">12 juni</time></li>
              <li><time datetime="2013-08-14">14 augusti</time> OBS! Biljett Kulturfestivalen</li>
            </ul>

            <p><time datetime="07:00">07.00 (–08.30)</time></p>
            <p>Samling i Tegnérlunden vid Strindbergsmonumentet.</p>
          </footer>
        </article>

        <article id="kungstradgarden" class="event-description event-type-walk">
          <h1>”Här… erbjuds det vackraste Stockholm har att visa…”</h1>
          <strong class="event-name">Kungsträdgården</strong> - med utsikt mot Söder och omgiven av ett kulturliv med  restauranger,teatrar och därtill bostäder  - gav upphov till många avgörande händelser och möten i författarens liv.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-07-10">10 juli</time></li>
            </ul>

            <p><time datetime="18:00">18.00 (–19.30)</time></p>
            <p>Samling Kungsträdgården vid Karl XII staty.</p>
          </footer>
        </article>

        <article id="gamla-stan" class="event-description event-type-walk">
          <h1>”I ett gammalt hus vid Riddarholmen…”</h1>
          Författarens födelseplats i samma hus – nu rivet – som faderns arbetsplats. Här fanns simskola och ”Midsommar”s kaj för skutornas färd på Mälaren. Här samlade han miljöer och personer till sitt framtida diktande. I <strong class="event-name">Gamla Stan</strong> övade han umgänge med skrivande och böcker och här utspelas flera ungdomsverk.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-07-17">17 juli</time></li>
              <li><time datetime="2013-08-21">21 augusti</time></li>
            </ul>

            <p><time datetime="18:00">18.00 (–19.30)</time></p>
            <p>Samling Evert Taubes Terrass på Riddarholmen.</p>
          </footer>
        </article>


        <article id="teatertat-stad" class="event-description event-type-walk">
          <h1>”… vi råkas på något sätt, i Hvita Huset vid Nybroplan…”</h1>
          Stockholm var under författarens tid en mycket <strong class="event-name">teatertät stad</strong>, där hans verk hade både jublande framgångar och kaotiska motgångar. Här var de omskrivna urpremiärerna på bland annat ”Mäster Olof” och ”Ett drömspel”. Här presenterades den intima scenen samtidigt som filmen tog sina första stapplande steg.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-07-24">24 juli</time></li>
              <li><time datetime="2013-08-15">15 augusti</time> OBS! Biljett Kulturfestivalen</li>
            </ul>

            <p><time datetime="18:00">18.00 (–20.00)</time></p>
            <p>Samling utanför Intima Teatern på Norra Bantorget.</p>
          </footer>
        </article>

        <article id="ostermalm" class="event-description event-type-walk">
          <h1>”Här rivs för att få luft och ljus”</h1>
          <strong class="event-name">Östermalm</strong> beboddes av författaren många gånger. Här inträffade dramatiska händelser både i hans litteratur och liv. Här skapades bl a ”Ett Drömspel”, genomlevdes äktenskapet med Harriet Bosse och här blommade Beethoven-febern.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-08-28">28 augusti</time></li>
            </ul>

            <p><time datetime="18:00">18.00 (–19.30)</time></p>
            <p>Samling Strandvägen – hörnet av Grev Magnigatan.</p>
          </footer>
        </article>


        <article id="karlaplan" class="event-description event-type-walk">
          <h1>”… det är tur att Strindberg finns. Vad skulle man annars ta sig till?”</h1>
          Ingmar Bergman påstår att ”om man lever i en Strindbergstradition, så andas man Strindbergsluft”. Detta manifesterades på många sätt tex hans Strindbergsuppsättningar på bl a Dramaten och hans bostad på <strong class="event-name">Karlaplan</strong>.
          På denna vandring korsar Strindberg ibland Bergmans konst och liv från Dramaten till Karlaplan.

          <footer>
            <label>Datum:</label>
            <ul class="dates">
              <li><time datetime="2013-05-29">29 maj</time></li>
              <li><time datetime="2013-05-14">14 maj</time> OBS! Biljett Kulturfestivalen</li>
            </ul>

            <p><time datetime="18:00">18.00 (–19.30)</time></p>
            <p>Samling stora trappan framför Dramaten.<br />
              Ciceroner: också TV-producenten och Bergman-kännaren Marie Nyreröd.</p>
            </footer>
          </article>


        </section>

        <section id="excursions">
          <h1>Utflykter</h1>
          <article id="kymmendo" class="event-description event-type-excursion">
            <h1>”O, du min grönskande ö, blomkorg i havets våg”</h1>
            Strindbergs sinnebild för skärgården kan välgrundat anses vara <strong class="event-name">Kymmendö</strong>, Hemsö. Hit flydde han i fadersuppror för att skriva och odla och för att njuta av samvaron med sin första familj och vänner. Vandringen över ön går i ”Hemsöbornas” texter och hus i författarens liv.

            <footer>
              <label>Datum:</label>
              <ul class="dates">
                <li><time datetime="2013-07-13">13 juli</time></li>
                <li><time datetime="2013-08-03">3 augusti</time></li>
              </ul>

              <p>Samling Kymmendös båtbrygga ca kl <time datetime="10:45">10.45 (–12.30)</time>. (När båten från Stockholm och Saltsjöbaden anlänt. Kontrollera båttiderna!). Pris 100 kr (exkl resor). Medtag gärna matsäck!</p>
            </footer>
          </article>

          <article id="furusund" class="event-description event-type-excursion">
            <h1>”…en vacker lövstrand med bryggor… små italienska villor”</h1>
            <strong class="event-name">Furusund</strong> blev Strindbergs sista skärgårdsglädje, som satte många avtryck i hans litteratur. Här möter den legendariske skaparen av Furusund, samlaren Christian Hammer. Från glödande optimism till djupaste vemod sommarlevde författaren här i hyrda rum eller hus – ensam eller med familj, släkt och vänner.

            <footer>
              <label>Datum:</label>
              <ul class="dates">
                <li><time datetime="2013-07-20">20 juli</time></li>
                <li><time datetime="2013-08-11">11 augusti</time></li>
              </ul>

              <p>Samling vid ångbåtsbryggan i Furusund kl <time datetime="14:30">14.30 (–17.00)</time>. Pris 100 kr. I samarbete med Norrtälje kommun.
                (OBS! Föranmälan till e-post eller mobil).</p>
              </footer>
            </article>

            <article id="dalaro" class="event-description event-type-excursion">
              <h1>”Detta var hans landskap… fattiga knaggliga gråstensholmar med granskog…”</h1>
              Författaren besökte <strong class="event-name">Dalarö</strong> tio somrar för att hyra i familj, bo på hotell, vara på genomresa eller för proviantering. Här börjar ”Hemsöborna”, sker mötet med sommarprästen, flyddes kärleken, uppvaktades kvinnor samt målades i olja.

              <footer>
                <label>Datum:</label>
                <ul class="dates">
                  <li><time datetime="2013-07-06">6 juli</time></li>
                </ul>

                <p><time datetime="15:00">15.00 (–17.00)</time> Samling framför Dalarös Tullhus. Pris 100 kr.</p>
              </footer>
            </article>

            <article id="runmaro" class="event-description event-type-excursion">
              <h1>”…allt under det jag rustar till en dikt om Silfverträsket…”</h1>
              Strindberg återkom för några år 1889 till Sverige och tillbringar tre somrar på <strong class="event-name">Runmarö</strong>. Vistelserna präglades av skilsmässan från första hustrun och oron för barnen men också av experiment, fantasifulla teorier och arbetslust.

              <footer>
                <label>Datum:</label>
                <ul class="dates">
                  <li><time datetime="2013-08-10">10 augusti</time></li>
                </ul>

                <p>Samling Runmarö, Långvik brygga ca kl <time datetime="09:30">9.30 (–16.00)</time> när båt från Stavsnäs anlänt. (Anslutningsbuss från Slussen. Kontrollera tiderna!) Pris 50 kr (exkl resor). Medtag matsäck!<br/>
                  I samarbete med Värmdö kommun och Runmarö hembygdsförening.</p>
                </footer>
              </article>


              <article id="stockholms-skargard" class="event-description event-type-excursion">
                <h1>”… Fjärdar och holmar, fjärdar och holmar, långt, långt ut i det oändliga…”</h1>
                <strong class="event-name">Stockholms skärgård</strong> är ”paradiset” för Strindberg ”som han återfunnit ett
                land han sett i vackra drömmer, eller i en föregående existens, som han
                trodde på men ej visste någon om”. Vi hittar många människor och miljöer
                härifrån i författarens diktning.  

                <footer>
                  <label>Datum:</label>
                  <ul class="dates">
                    <li><time datetime="2013-04-29">29 april</time></li>
                  </ul>

                  <p>Med Strömma i Strindbergs skärgård med landstigning på Kymmendö. Biljetter Strömma.</p>
                </footer>
              </article>


              <article id="uppsala" class="event-description event-type-excursion">
                <h1>”…den förbannade slätten…”</h1>
                I <strong class="event-name">Uppsala</strong> vistades Strindberg under studietiden i olika omgångar mellan åren 1867-1872. Han mötte studielivets misslyckanden och framgångar. Ungdomens dramer föddes i sällskap med Gluntar och ”oåtkomliga fruntimmer”. ”Från Fjärdingen och Svartbäcken” samt brev är vår vandringslitteratur.

                <footer>
                  <label>Datum:</label>
                  <ul class="dates">
                    <li><time datetime="2013-08-24">24 augusti</time></li>
                  </ul>

                  <p><time datetime="14:00">14.00 (–16.00)</time></p>
                  <p>Pris 100 kr (exkl resor). Samling nedanför trappan framför Carolina Rediviva.</p>
                </footer>
              </article>

            </section>

            <script type="text/html" id="timeline_tmpl">
              <section id="timeline">
                <h2 class="timeline-walks">Vandringar</h2>
                <h2 class="timeline-excursions">Utflykter</h2>
                <ul class="dates">
                  <% for ( var i = 0; i < dates.length; i++ ) { %>
                    <li class="<%=dates[i].elClass%>">
                      <a href="#<%=dates[i].event.id%>">
                        <h3 class="date-name"><%=dates[i].dateName%>: <span class="event-name"><%=dates[i].event.name%></span></h3>
                        <em class="quote"><%=dates[i].event.quote%></em>
                      </a>
                      <div class="description"></div>
                    </li>
                  <% } %>
                </ul>
              </section>
            </script>

            <script type="text/html" id="today_tmpl">
              <li class="date today">Idag: <%=year%>-<%=month%>-<%=day%></li>
            </script>

            <section id="about">
              <h1>Om Anita Persson</h1>

              <p>Jag, Anita Persson, var, efter många års aktiviteter i Strindbergssällskapet, intendent på Strindbergsmuseet fram till 1994. Därefter är jag vida anlitad föreläsare/kåsör, vandrare och även skribent.</p>

              <p>Jag är pedagog och "folkbildare" och anser att författare och deras texter inte enbart är till för att njutas av utan också för att användas i våra dagliga liv i med- som motgångar, för att fylla på tankar, fantasier och möjligheter – som energi – som kunskap – som erfarenhet.</p>

              <h2>Jag har också bland annat:</h2>
              <ul>
                <li>föreläst på Grafiska sällskapet och i Nacka konstförening</li>

                <li>föreläst på Nobelmuseet om Strindberg och Svenska Akademien i samarbete med Iréne Lindh samt i samma ämne skrivit artikel till NEs nyhetssida</li>

                <li>föreläst om Strindberg och Albert Engström i Grisslehamn i Engströms ateljé</li>

                <li>föreläst på TV i anslutning till kollationeringen inför inspelningen av Peter Birros TV-film om den unge Strindberg</li>

                <li>mottagit DN På Stans "känga" 1987</li>

                <li>varit samtalspartner och medverkande i inspelningarna av TVs program om personen Strindberg och Strindberg idag</li>

                <li>varit med och startat Strindbergssällskapets årsbok Strindbergiana och ingick 1985–1992 i dess redaktion</li>

                <li>varit redaktör och initiativtagare till antologin ”Ja, må han leva – 22 kvinnor från 11 länder skriver om Strindberg”</li>

                <li>besökt flera bibliotek, studieförbund, andra sammanslutningar och organisationer för att presentera boken, som även anmälts på Bok- och Biblioteksmässan i Göteborg</li>

                <li>planerat och deltagit i Dramatens poesihörna i samarbete med skådespelerskan Iréne Lindh, med bl a Strindberg och Ibsen, Strindberg och försvarsfrågan, Strindberg och kungamakt, Strindbergs Stockholm, Strindberg och Svenska Akademien, Strindberg och Linné, Strindberg och Intima Teatern, Strindberg och fredsfrågan, Strindberg och Dramatiska Teatern</li>

                <li>stadsvandrat med åtskilliga gymnasie- och vuxenskoleelever</li>

                <li>stadsvandrat och skärgårdsvandrat med fackliga organisationer, universitetsgrupper även från andra delar av Europa</li>

                <li>stadsvandrat med presumtiva teaterbesökare från Dramaten till Strindbergs Intima Teater</li>
                  
                <li>lett flera studiecirklar – om enskilda böcker samt om Strindbergs tid och samhälle</li>
                  
                <li>skrivit boken "Vandra med Strindberg" – 12 vandringar i Stockholm och Stockholms skärgård samt i Strindbergs litteratur.</li>

                <li>presenterat August för invandrargrupper under titeln ”Varför talar man så mycket om August Strindberg?”</li>

                <li>återkommande kåserat för blivande läkare på Karolinska Sjukhuset</li>

                <li>väglett kanadensisk, svensk och engelsk TV i Strindbergs miljöer</li>

                <li>"vandrat" i radioprogrammet "Boktornet" i P1 tillsammans med skådespelaren Reine Brynolfsson</li>

                <li>planerat och genomfört Strindbergdagar och –kvällar för personal på mindre och större företag</li>

                <li>lunch- och middagsvandrat med födelsedagsbarn och deras gäster på väg till födelsedagsfesten</li>

                <li>stadsvandrat med väninnor för att stimulera smaklökarna inför lyxmiddag</li>

                <li>återkommande kåserat i Tegnérlunden för ”gammal” studentgrupp, som årligen har sillsexa i skuggan av Strindbergmonumentet</li>

                <li>guidat utflykter till Kymmendö med studenter från hela världen i samarbete med Svenska Institutet</li>

                <li>föreläst för studenter på Universitetet i Sofia, Bulgarien, om bla Strindberg och Ibsen, Strindbergs liv samt deltagit vid lanseringen av ny översättning av Röda Rummet</li>

                <li>föreläst på Svenska Ambassaden i Tokyo, Japan</li>

                <li>skrivit artiklar om bl a Strindberg och hans Stockholm i utländska skrifter</li>

                <li>skrivit recensioner</li>

                <li>fått ABF-Stockholms kulturpris</li>

                <li>planerat och deltagit i nio torsdagar i P4 under rubriken "Strindbergs Stockholm"</li>

                <li>i anslutning till uppsättningen av Ett drömspel föreläst i Örebro, dels för inblandade på teatern vid kollationeringen och dels för presumtiv publik, samt skrivit bidrag i programmet</li>

                <li>planerat och deltagit i TVs program om Strindbergs liv och Strindberg i världen idag</li>

                <li>tilldelats Södermalms arbetarinstituts stipendium 2010</li>

                <li>föreläst på Stockholms Nation i Uppsala om "Vad satte Uppsala för spår hos Strindberg?"</li>

                <li>föreläst ABF om Strindbergs civilisations- och systemkritik – "Det går framåt – Ja, framåt – åt helvete!"</li>

                <li>föreläst i Umeå och Karlshamn om Strindberg och kvinnofrågan – "Jag är endast teoretiskt kvinnohatare"</li>

                <li>föredragit "Att läsa staden i vandring med August Strindberg" i Strassbourg</li>

                <li>vandrat med döv-stum-blinda i Strindbergs Stockholm</li>

                <li>vandrat med NHR Stockholm</li>

                <li>Skrivit boken Vandra med Strindberg – fem vandringar i Stockholm</li>

                <li>deltagit vid Dalateaterns kollationering inför föreställningen av Hemsöborna</li>

                <li>tipsat TVs Babel-redaktion ang Strindbergsinfo

                <li>Fosams folkbildningsstipendium 2012  (bild 1)</li>
                 
                <li>Läsecirklar om "Fröken Julie", "Ockulta dagboken"
                och Strindbergs liv</li>
                 
                <li>Inlägg i anslutning till Strindberg-program med musik</li>
                 
                <li>Samtalat om Strindbergs hud med hudprofessor på Karolinska
                universitetsbiblioteket</li>
                 
                <li>Vandrat, föreläst och samtalat med herrar med medföljande 
                inom några loger</li>
                 
                <li>Samtal om Stockholmsboken 2012 "En dåres försvarstal" på 
                olika bibliotek</li>
                 
                <li>"Braständare" till Stadsteaterns och Dalateaterns personal och publik</li>
                 
                <li>Samtalsledare med regissörer och översättare för
                teaterpubliken på Stadsteatern</li>
                 
                <li>"Konsult" i anslutning till TV</li>
                 
                <li>Guidat i Stockholms skärgård med Strömma kanal och Blidösund</li>
                 
                <li>Vandrat med bl a Sandrewvännerna, Stockholms Landstings personal</li>
              </ul>
            </section>

          </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
          <footer class="wrapper">
            <h3>footer</h3>
          </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

        <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
      </body>
      </html>
